<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
		  <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
		 
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active home-menuitem"><a href="#">me</a></li>
              <li class="playlist-menuitem"><a href="#playlist">playlist</a></li>
              <li class="calendar-menuitem"><a href="#calendar">calendar</a></li>
              <li class="lets-menuitem"><a href="#lets-talk">lets talk</a></li>
              <li class="the-band-menuitem"><a href="#the-band">the Band</a></li>
              <li class="about-menuitem"><a href="#about">about</a></li>
            </ul>
			  <form class="navbar-search" action="">
					<input type="text" class="search-query span2" placeholder="Search">
				</form>
          </div><!--/.nav-collapse -->
		 
        </div>
      </div>
    </div>
