
<div class="row">
    <div class="span12">
        <img class="about-icon" src="img/discuss.png" width="50" style="float: left;">

        <h3>Comments and questions</h3>

        <p>I love to hear your feedback. Post your questions and comments on the this form.</p>
    </div>
</div>
<br/>
<div class="row">
    <div class="span12">
        <div class="wrapper">
        <h2 class="content_heading">Contact Us</h2>
        <!-- Begin Primary Content -->
        <div id="primary_content">
            <form method="post" id="contact_form" action="#">
            	<label for="name">Your Name <em>(Required)</em></label>
                <input type="text" id="name" name="sender_name" value="">
                
                <label for="email">Your Email <em>(Required)</em></label>
                <input type="text" id="email" name="email" value="">
                
                <label for="contact_type">What's this about?</label>
                <select name="contact_type" id="contact_type">
                	<option selected="selected" value="feedback">Feedback / Suggestions</option>
                    <option value="questions">General Questions</option>
                    <option value="support">Support</option>
                    <option value="advertising">Advertising</option>
                    <option value="other">Other…</option>
                </select>
                
                
                <label for="subject">Your Message</label>
                <textarea id="message" name="message"></textarea>
                
                <button type="submit">Send Message</button>
            </form>
            
        </div>
        <!-- End Primary Content -->
    </div>
    </div>
</div>

