<table cellspacing="0" summary="Next Meeting" cellpadding="0">
    <tbody>
        <tr>
            <th>
            </th>
            <th colspan="3">
                <p>
                    JULI&nbsp;2012</p>
            </th>
            <th colspan="2">
                <p>
                    AUGUSTUS&nbsp;2012</p>
            </th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
                <p>
                    ma&nbsp;30</p>
            </th>
            <th colspan="2">
                <p>
                    di&nbsp;31</p>
            </th>
            <th colspan="2">
                <p>
                    do&nbsp;2</p>
            </th>
        </tr>
        <tr>
            <th>
                2 deelnemers
            </th>
            <th>
                <p>
                    12:00&nbsp;-<br>
                    14:00</p>
            </th>
            <th >
                <p>
                    9:15&nbsp;-<br>
                    11:15</p>
            </th>
            <th >
                <p>
                    14:45&nbsp;-<br>
                    16:45</p>
            </th>
            <th >
                <p>
                    9:15&nbsp;-<br>
                    11:15</p>
            </th>
            <th >
                <p>
                    14:45&nbsp;-<br>
                    16:45</p>
            </th>
        </tr>
        <tr>
            <td id="part236949564" >
                <div style="display: none;" >
                    <div  title="beschermd">
                    </div>
                </div>
                <div style='background-position: center; background-image: url("get/um8bqr2buveexqv7");'
                   >
                </div>
                <div  title="Ms. Busy">
                    <a href="/MsBusy">Ms. Busy</a></div>
            </td>
            <td  title="Ms. Busy, maandag 30 juli 2012 12:00 - 14:00: Nee">
                <div >
                    <img alt="Ms. Busy, maandag 30 juli 2012 12:00 - 14:00: Nee." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td  title="Ms. Busy, dinsdag 31 juli 2012 9:15 - 11:15: Ja">
                <div >
                    <img alt="Ms. Busy, dinsdag 31 juli 2012 9:15 - 11:15: Ja." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td title="Ms. Busy, dinsdag 31 juli 2012 14:45 - 16:45: Nee">
                <div >
                    <img alt="Ms. Busy, dinsdag 31 juli 2012 14:45 - 16:45: Nee." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td title="Ms. Busy, donderdag 2 augustus 2012 9:15 - 11:15: Ja">
                <div >
                    <img alt="Ms. Busy, donderdag 2 augustus 2012 9:15 - 11:15: Ja." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td  title="Ms. Busy, donderdag 2 augustus 2012 14:45 - 16:45: Ja">
                <div >
                    <img alt="Ms. Busy, donderdag 2 augustus 2012 14:45 - 16:45: Ja." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
        </tr>
        <tr >
            <td id="part236949652" >
                <div style="display: none;" >
                    <a  title="Edit entry"></a><a  title="Delete entry">
                    </a>
                </div>
                <div title="sint 2010">
                    sint 2010</div>
            </td>
            <td title="sint 2010, maandag 30 juli 2012 12:00 - 14:00: Nee">
                <div >
                    <img alt="sint 2010, maandag 30 juli 2012 12:00 - 14:00: Nee." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td  title="sint 2010, dinsdag 31 juli 2012 9:15 - 11:15: Ja">
                <div >
                    <img alt="sint 2010, dinsdag 31 juli 2012 9:15 - 11:15: Ja." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td  title="sint 2010, dinsdag 31 juli 2012 14:45 - 16:45: Ja">
                <div >
                    <img alt="sint 2010, dinsdag 31 juli 2012 14:45 - 16:45: Ja." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td  title="sint 2010, donderdag 2 augustus 2012 9:15 - 11:15: Nee">
                <div >
                    <img alt="sint 2010, donderdag 2 augustus 2012 9:15 - 11:15: Nee." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
            <td title="sint 2010, donderdag 2 augustus 2012 14:45 - 16:45: Nee">
                <div >
                    <img alt="sint 2010, donderdag 2 augustus 2012 14:45 - 16:45: Nee." src="/static/2012072400/doodle/graphics/common/doodlesprite.png"
                        width="39" height="46"></div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                0
            </td>
            <td>
                2
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
            <td>
                1
            </td>
        </tr>
    </tbody>
</table>
